logs
project/project
projectFilesBackup
target
tmp
dist
*.ipr
*.iws
.idea/
.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
build

# Elastic Beanstalk Files
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
**/.terraform/*
terraform/terraform.tfstate.backup
